@import "node_modules/bootstrap/scss/bootstrap";

h1 {
    font-size: 2.25em;
    font-weight: bold;
}

h2 {
    font-size: 1.75em;
    font-weight: bold;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
}

h4 {
    font-size: 1.1em;
    font-weight: bold;
}

.container-fluid {
    padding-left: 0em;
    padding-right: 0em;
}

.col-lg, .col-lg-3 {
    padding-right: 0;
    padding-left: 0;
}

.row {
    margin-left: 0;
    margin-right: 0;
}