@import "./_variables";

#navbar {
    padding: 1em;

    .nav-item {
        padding-right: 0.5em;

        a {
            color: black;

            &:hover {
                color: #636363;
            }
        }

    }
}