@import "./_variables";

.logo {
    width: 5em;
}

#navbar {
    padding: 1em;

    .nav-link {
        padding-right: 2em;

            color: black;

            &:hover {
                color: #636363;
            }

    }
}